@import url("https://fonts.googleapis.com/css?family=Lato:900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap");
/* All necessary */
html {
	scroll-behavior: smooth;
}
body {
	background: radial-gradient(circle, #24246e, #08072c);
	color: white;
	position: relative;
}
#about,
#contact,
#certificates,
#experience {
	margin-bottom: 150px;
}
* {
	padding: 0;
	margin: 0;
	font-family: "Ubuntu", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
	font-family: "Nunito Sans", sans-serif;
}
#navbar {
	position: fixed;
	top: 0;
	width: 100%;
	border-bottom: 1px solid gray;
	background: #0e0d33;
	padding: 20px;
	z-index: 100;
}
.active {
	color: yellow !important;
	background-color: none;
	box-shadow: 0px 2px 0px 0px yellow;
	transition: 0.3s ease-in all;
	padding: auto 20px;
}
.nav-item {
	padding-left: 3px;
	padding-right: 3px;
}
.nav-link,
.navbar-brand {
	color: white;
	font-family: "Lato", sans-serif;
	font-weight: 900;
	transition: 0.3s ease-in all;
}
.nav-link {
	padding-left: 20px;
	padding-right: 20px;
}
.navbar-brand {
	padding-left: 10px;
	border-left: 5px solid yellow;
}
.navbar-toggler {
	color: yellow !important;
	border: 1px solid yellow;
}
.navbar-toggler span {
	color: yellow !important;
}
/* Main Page */
#home {
	height: 100vh;
	padding-top: 270px;
}
#home .text {
	padding-top: 60px;
}
#home h1 {
	font-size: 64px;
	text-transform: uppercase;
	font-weight: 900;
}
#home h3 {
	font-size: 20px;
	color: #b4b4b4;
	padding-bottom: 19px;
}
#home a {
	margin-top: 20px;
	height: 42px;
	width: 170px;
}
.btn-danger {
	color: #ff4c60;
	outline: none;
	box-shadow: 10px 10px 10px 10px transparent;
	font-family: "Lato", sans-serif;
	font-weight: 600;
	border: 2px solid #ff4c60;
	border-radius: 40px;
	background: transparent;
	transition: all 0.3s ease;
	padding: 10px 20px;
}
.btn-danger:hover {
	background-color: #ff374e;
	outline: none;
	border: 2px solid transparent;
	box-shadow: 4px 2px 4px 4px rgba(255, 51, 51, 0.14);
	font-family: "Lato", sans-serif;
	font-weight: 900;
}
.btn-danger:focus {
	background-color: #fc1630 !important;
	outline: none !important;
	border: 2px solid transparent !important;
	box-shadow: none !important;
	font-family: "Lato", sans-serif;
	font-weight: 900;
}
#home img {
	width: 300px;
	box-shadow: 30px 30px 30px 10px rgba(0, 0, 0, 0.175);
	transition: 0.23s cubic-bezier(0.6, -0.28, 0.735, 0.045) all;
}
#home img:hover {
	transform: scale(1.6);
}
@media (max-width: 768px) {
	#home {
		padding-top: 100px;
	}
	#home img {
		width: 250px;
	}
	#home h1 {
		font-size: 34px;
	}
	#home h3 {
		font-size: 15px;
	}
	#home .text {
		padding-top: 20px;
	}
	#home .row {
		margin-top: 20px;
		display: flex;
		flex-direction: column-reverse;
		text-align: center;
	}
}
/* About  */
#about .text {
	text-align: center;
}
#about .text span {
	color: rgb(172, 172, 172);
}
#about .text h1 {
	text-transform: uppercase;
	font-weight: 900;
}

#about p {
	margin-top: 40px;
	color: #cfcfcf;
}

#about img {
	width: 250px;
	margin-top: 100px;
	/* margin-left: 50px; */
}
@media (max-width: 768px) {
	#about .text {
		text-align: center;
	}
	#about .text span {
		color: rgb(172, 172, 172);
	}
	#about .text h1 {
		text-transform: uppercase;
		font-weight: 900;
	}

	#about p {
		margin-top: 40px;
	}

	#about img {
		display: none;
	}
}
/* Contact */
#contact .text {
	text-align: center;
}
#contact .text span {
	color: rgb(172, 172, 172);
}
#contact .text h1 {
	text-transform: uppercase;
	font-weight: 900;
}
#contact img {
	width: 250px;
	margin-top: 100px;
	/* margin-left: 50px; */
}
#contact .address {
	margin-top: 100px;
}
#contact p {
	margin: 0;
	margin-top: 2px;
}
#contact .social {
	margin-top: 30px;
}
#contact strong {
	color: #ff4c60;
}
#contact a {
	background-color: #ff4c60;
	border: 1px solid #ff4c60;
	color: white;
	padding: 5px 10px;
	margin: 2.5px;
	transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

#contact a:hover {
	color: #ff4c60;
	border: 1px solid white;
	background-color: #353353;
	padding: 5px 10px;
}

/* Certificates */
#certificates .text {
	text-align: center;
	margin-bottom: 40px;
}
#certificates .text span {
	color: rgb(172, 172, 172);
}
#certificates .text h1 {
	text-transform: uppercase;
	font-weight: 900;
}
#certificates .imgcerti {
	max-width: 100%;
	margin: 14px;
	transition: 0.21s ease-in all;
}
#certificates .imgcerti:hover {
	box-shadow: 10px 10px 30px 5px rgba(129, 129, 129, 0.44);
	transform: translate(-6px, -2px);
	max-width: 102%;
	margin: 12px;
}
@media (max-width: 768px) {
	#certificates .imgcerti {
		margin: 7px auto;
	}
}
/* Experience */
#experience .text {
	text-align: center;
}
#experience .text span {
	color: rgb(172, 172, 172);
}
#experience .text h1 {
	text-transform: uppercase;
	font-weight: 900;
	margin-bottom: 30px;
}

.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	box-shadow: 10px 10px 30px 4px rgba(0, 0, 0, 0.275) !important;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	transition: 0.4s cubic-bezier(1, 0.52, 0, 1.09) all;
}
.timeline > li > .timeline-panel:hover {
	background-color: #0e0d33;
	transform: translateX(-30px);
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 10;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}
.timeline > li.timeline-inverted > .timeline-panel:hover {
	transform: translateX(30px);
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge.success {
	background-color: #3f903f !important;
}

.timeline-badge.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge.danger {
	background-color: #d9534f !important;
}

.timeline-badge.info {
	background-color: #5bc0de !important;
}

.timeline-title {
	margin-top: 0;
	font-family: "Nunito Sans", sans-serif !important;
}
.timeline-heading p {
	color: #ff4c60;
}
.timeline-body > p {
	margin-bottom: 20px;
}
.timeline-body > ul {
	margin-bottom: 0;
}

@media (max-width: 768px) {
	.timeline > li.timeline-inverted > .timeline-panel {
		width: 93% !important;
		float: left;
		border: 1px solid #d4d4d4;
		border-radius: 2px;
		padding: 20px;
		position: relative;
		-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	}

	.timeline > li.timeline-inverted > .timeline-panel:before {
		position: absolute;
		top: 26px;
		left: 100%;
		display: inline-block;
		border-top: 15px solid transparent;
		border-left: 15px solid #ccc;
		border-right: 0 solid #ccc;
		border-bottom: 15px solid transparent;
		content: " ";
	}

	.timeline > li.timeline-inverted > .timeline-panel:after {
		position: absolute;
		top: 27px;
		left: 100%;
		display: inline-block;
		border-top: 14px solid transparent;
		border-left: 14px solid #fff;
		border-right: 0 solid #fff;
		border-bottom: 14px solid transparent;
		content: " ";
	}
	.timeline > li > .timeline-panel {
		width: 93% !important;
	}
	.timeline:before {
		top: 0;
		bottom: 0;
		position: absolute;
		content: " ";
		width: 3px;
		background-color: #eeeeee;
		left: 98%;
		margin-left: -1.5px;
	}
	.timeline > li > .timeline-badge {
		display: none;
	}
}
/*  BODYYY */
